@import url('https://fonts.googleapis.com/css?family=Montserrat');


html, body {
    overflow: auto;
}

html{
  height: 100%;
}
body {
  min-height: 100%;
  background: url(../img/blue-pink.png) center center no-repeat;
}

h2 {
  color: white;
  font-size: 4.5rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
  font-weight: 400;

}

p {
  color: white;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.45;
  font-weight: 300;
  font-size: 1.75rem;

}



#wrapper {
  display: flex;
  flex-flow: row wrap;
  text-align: left;
  padding: 100px;

}

#wrapper > * {
  padding: 10px;
  flex: 2 20%;
}



.mobile {
  width: 30px;
  padding-bottom: 90  px;
}

.text {

  width: 30%
}


button {

  background-color: #e41a70;
  border: 2px solid #e41a70;
  color: white;
  width: 51%;
  margin: 0 auto;
  height: 35px;


}


input {
  display: block;
  color: #e41a70;
  font-size: 20px;
  width: 50%;
  margin-bottom: 10px;
  height: 30px;
  border-radius: 5px;


}


.container {
    width: 100%;
    height: 100%;
    max-width: 1034px;
    max-height: 667px;
    margin-top: 80px;
}
.container .ifram-container {
    position: relative;
    padding-top: 25px;
    padding-bottom: 67.5%;
    height: 0;
}
.ifram-container iframe {
    box-sizing: border-box;
    background: url(../img/Phoneframe.png) center center no-repeat;
    background-size: contain;
    padding: 7.9% 34.6% 13.8%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}






@media all and (min-width: 800px) {
.mobile    { flex: 3 0px; }
  .mobile { order: 1; }
  .text    { order: 2; }
  .form { order: 3; }

}


@media all and (max-width: 1200px) {
  .ifram-container iframe {
      box-sizing: border-box;
      background: url(../img/Phoneframe.png) center center no-repeat;
      background-size: contain;
      padding: 7.9% 34.4% 13.8%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }



}


@media all and (max-width: 950px) {
  .container {
      width: 100%;
      height: 100%;
      max-width: 1034px;
      max-height: 667px;
      margin-top: 100px;
  }

  #wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    padding: 0;

  }

  #wrapper > * {
    padding: 10px;
    flex: 3 100%;
  }


    button {

      background-color: #e41a70;
      border: 1px solid #e41a70;
      color: white;
      width: 40%;
      margin-top: 8px;

    }


    input {
      display: block;
      color: white;
      width: 40%;
      margin-bottom: 10px;
      box-sizing: border-box;
      margin: 0 auto;
    }

    h2 {
      font-size: 2.5rem;
      font-weight: 500;
    }

    p {
      font-weight: 200;
      font-size: 1rem;
    }


  }





/*If its bigger than 600px*/
@media all and (min-width: 600px) {
  .text {
     flex: 1 auto;
   }

}
